<div id="portfolio-d3-panel" ng-controller="PortfolioD3Ctrl">

    <form class="form-horizontal" role="form">
        <div class="form-group" style="margin:20px 0;">
            <select class="form-control" ng-model="currentDataSource"
                    ng-options="dataSource.label for dataSource in dataSource"></select>
        </div>
    </form>

    <div class="panel panel-default col-xs-12 col-sm-8">
        <div class="panel-heading">
            <h5 ng-bind="d3BarChartDataSet.name"></h5>
        </div>
        <div class="panel-body">
            <div yy-d3-bar-chart data="d3BarChartDataSet.data" yy-on-click="returnSelectedItem(item)"></div>
        </div>
    </div>

    <div class="panel panel-default col-xs-12 col-sm-4">
        <pre>
            {{currentSelectedItem|json}}
        </pre>
    </div>


</div>


<style>

    .land {
        fill: #fff;
        stroke: #ccc;
    }

    .state {
        fill: #ccc;
        stroke: #666;
    }

</style>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>