<div ng-controller='PortfolioCalendarWidgetCtrl'>
    <h4>Select to change widget theme:</h4>

    <form class="form-horizontal" role="form">
        <div class="form-group" style="margin:20px 0;">
            <select class="form-control" ng-model="widgetColorTheme">
                <option value="78bde7">Primary</option>
                <option value="5cb85c">Success</option>
                <option value="C295DB">Info</option>
                <option value="f0ad4e">Warning</option>
                <option value="d9534f">Danger</option>
                <option value="000000">Dark</option>
            </select>
        </div>
    </form>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="widget-wrapper  panel no-border">
                <div class="panel-heading" ng-style="{'background-color':hexToRgba(widgetColorTheme,'.3')}"
                     style="padding:15px;font-size:20px;color:#767676">
                    Calendar Widget
                </div>
                <div class="panel-body no-padding" style="height: 245px;">

                    <div class="ao-widget">
                        <div class="ao-date">
                            <div class="col-xs-3">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>

                            <div class="col-xs-9">
                                <p class="ao-text-date">Today is</p>

                                <p>{{today | date:'MMM dd'}}</p>
                            </div>
                        </div>

                        <div class="ao-greeting" ng-style="{'background-color':'#'+widgetColorTheme}">
                            Good <span class="ao-greeting-msg"> {{greeting(today)}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="widget-wrapper panel no-border">
                <div class="panel-heading" ng-style="{'background-color':hexToRgba(widgetColorTheme,'.3')}"
                     style="padding:15px;font-size:20px;color:#767676">
                    Pace Setter
                </div>

                <div class="panel-body no-padding">

                    <div class="pp-widget" style="background-color:#ffffff">

                        <div class="col-xs-4 pp-widget-date" ng-style="{'background-color':'#'+widgetColorTheme}">
                            <div class="pp-days-bg-blocks" data-num="{{ppTestData.daysCount}}">
                                <span class="background-lb"><hr class="pp-days-bg-hr"/></span>
                                <span class="background-rb"><hr class="pp-days-bg-hr"/></span>
                            </div>
                            <h2>days</h2>

                            <h2>left</h2>
                        </div>

                        <div class="col-xs-8 pp-widget-right">
                            <div class="pp-widget-associate">
                                Current Associate
                                <div class="pp-widget-associate-svg" data-num="{{ppTestData.associateCount}}">
                                    <svg height="100" width="100">
                                        <circle cx="50" cy="50" r="40" stroke-width="3" fill="#{{widgetColorTheme}}"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="pp-widget-cvp" ng-style="{'background-color':hexToRgba(widgetColorTheme,'.3')}">

                                CVP <span class="pp-widget-cvp-number"> {{ppTestData.cvpCount}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <h4>Change input data for Pace Setter widget:</h4>

    <form class="form-horizontal" role="form">
        <div class="form-group row" style="margin:20px 0;">
            <span class="col-sm-4"><label>Days left: </label>
                <input type="text" class="form-control" maxlength="2" ng-model="ppTestData.daysCount"
                       ng-keypress="validateDateCount(ppTestData.daysCount)"/></span>
            <span class="col-sm-4"><label># of associates: </label>
                <input type="text" class="form-control" maxlength="1" ng-model="ppTestData.associateCount"/></span>
            <span class="col-sm-4"><label>CVP Count: </label>
                <input type="text" class="form-control" maxlength="3" ng-model="ppTestData.cvpCount"/></span>
        </div>
    </form>
</div>
