/* Space out content a bit */

body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */

  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */

  .jumbotron {
    border-bottom: 0;
  }
}
/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.navbar-brand {
  padding-left: 30px;
}

.hr-min {
  margin: 0;
}

hr.title-separator-bold {
  border-width: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.icon {
  font-size: inherit;
}

.icon.icon-1x {
  font-size: 16px;
}

.icon.icon-2x {
  font-size: 2em;
}

.icon.icon-3x {
  font-size: 3em;
}

.icon.icon-4x {
  font-size: 4em;
}

.icon.icon-5x {
  font-size: 5em;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-border {
  border: none;
}

.padding-10 {
  padding: 10px;
}

.inline-block {
  display: inline-block;
}

@-webkit-keyframes flash {
  0% {
    font-size: 10px;
  }

  100% {
    font-size: 1em;
    color: #d20d11;
  }
}

@-ms-keyframes flash {
  0% {
    font-size: 10px;
  }

  100% {
    font-size: 1em;
    color: #d20d11;
  }
}

.yy-flash {
  -webkit-animation: flash 1s infinite alternate;
  animation: flash 1s infinite alternate;
}

.strike-text {
  text-decoration: line-through;
}

.yy-text-danger {
  color: #d20d11;
}

.yy-text-default {
  color: #818181;
}

.yy-text-right {
  text-align: right;
}

.btn-transparent {
  background-color: transparent;
}

.btn.yy-btn-dark {
  background: rgba(0, 0, 0, .8);
  color: #fff;
}

.panel.yy-panel-white {
  color: #000;
  background-color: #fff;
  border: solid 1px #ddd;
}

.panel.yy-panel-dark {
  border: solid 1px #000;
}

.panel.yy-panel-dark > .panel-heading {
  color: #fff;
  background-color: rgba(0, 0, 0, .8);
}

.panel.yy-panel-box-primary {
  color: #000;
  background-color: transparent;
  border: solid 1px #bce8f1;
}

.panel.yy-panel-box-primary > .panel-heading {
  background-color: transparent;
  border-bottom: solid 1px #bce8f1;
}

.panel.yy-panel-box-dark {
  border: solid 1px #000;
}

.panel.yy-panel-box-dark > .panel-heading {
  color: #000;
  background-color: #fff;
  border-bottom: solid 1px #000;
}

.pointer-cursor {
  cursor: pointer;
}

#yy-nav.aside-open,
#yy-ui-view.aside-open {
  position: relative;
  /*left:-130px;*/
  right: 130px;
}

.portfolio-container,
.personal-container {
  width: 80%;
  margin: auto;
}

.masonry-image {
  width: 100%;
}

.image-modal.modal-dialog {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#imageModal .modal-body {
  width: 100%;
  text-align: center;
}

#imageModal .modal-image {
  width: 90%;
  margin: auto;
}

.yy-page-alert {
  margin-top: -20px;
}

.yy-page-alert.aside-open {
  position: relative;
  right: 130px;
}
.navbar-brand {
    padding-left: 30px;
}

.hr-min {
    margin: 0;
}

hr.title-separator-bold{
    border-width: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.icon{
    font-size: inherit;
}
.icon.icon-1x{
    font-size:16px;
}
.icon.icon-2x {
    font-size: 2em;
}
.icon.icon-3x {
    font-size: 3em;
}
.icon.icon-4x {
    font-size: 4em;
}
.icon.icon-5x {
    font-size: 5em;
}
.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.no-border {
    border: none;
}

.padding-10 {
    padding: 10px;
}

.inline-block {
    display: inline-block;
}

@-moz-keyframes flash {
    0% {
        font-size: 10px;
    }
    100% {
        font-size: 1em;
        color: #d20d11;
    }
}

@-webkit-keyframes flash {
    0% {
        font-size: 10px;
    }
    100% {
        font-size: 1em;
        color: #d20d11;
    }
}

@-ms-keyframes flash {
    0% {
        font-size: 10px;
    }
    100% {
        font-size: 1em;
        color: #d20d11;
    }
}

.yy-flash {
    -webkit-animation: flash 1s infinite alternate;
    -moz-animation: flash 1s infinite alternate;
    -o-animation: flash 1s infinite alternate;
    animation: flash 1s infinite alternate;
}
.strike-text {
    text-decoration: line-through;
}

.yy-text-danger {
    color: #d20d11;
}

.yy-text-default {
    color: #818181;
}

.yy-text-right {
    text-align: right;
}

.btn-transparent {
    background-color: transparent;
}

.btn.yy-btn-dark {
    background: rgba(0, 0, 0, .8);
    color: #fff;
}

.panel.yy-panel-white {
    color: #000;
    background-color: #fff;
    border: solid 1px #ddd
}

.panel.yy-panel-dark {
    border: solid 1px #000;
}

.panel.yy-panel-dark > .panel-heading {
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}

.panel.yy-panel-box-primary {
    color: #000;
    background-color: transparent;
    border: solid 1px #bce8f1;
}

.panel.yy-panel-box-primary > .panel-heading {
    background-color: transparent;
    border-bottom: solid 1px #bce8f1;
}

.panel.yy-panel-box-dark {
    border: solid 1px #000;
}

.panel.yy-panel-box-dark > .panel-heading {
    color: #000;
    background-color: #fff;
    border-bottom: solid 1px #000;
}

.pointer-cursor {
    cursor: pointer;
}


#yy-nav.aside-open,
#yy-ui-view.aside-open {
    position: relative;
    /*left:-130px;*/
    right: 130px;
}

.portfolio-container, .personal-container {
    width: 80%;
    margin: auto;
}

.masonry-image {
    width: 100%;
}

.image-modal.modal-dialog {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#imageModal .modal-body {
    width: 100%;
    text-align: center;
}

#imageModal .modal-image {
    width: 90%;
    margin: auto;
}


.yy-page-alert {
    margin-top: -20px;
}
.yy-page-alert.aside-open  {
    position: relative;
    right:130px;
}


/*** top navbar ***/

.navbar.yy-navbar {
  background: #fff;
  padding-top: 15px;
  box-shadow: -10px 0 10px #ccc;
  color: #000;
  margin-bottom: 30px;
}

.navbar.yy-navbar .navbar-header .navbar-brand {
  font-size: 20px;
}

.navbar.yy-navbar .nav-pills > li {
  margin-right: 10px;
  font-size: 18px;
  font-family: fantasy;
}

.navbar.yy-navbar .nav-pills > li > a {
  color: #000;
}

.navbar.yy-navbar .nav-pills > li > a:hover {
  color: #428bca;
  background-color: transparent;
}

.navbar.yy-navbar .nav-pills > li.active > a,
.navbar.yy-navbar .nav-pills > li.active > a:hover {
  /*font-weight: bold;*/
  color: #428bca;
  background-color: transparent;
}

.navbar .navbar-header .icon-bar {
  background-color: #808080;
}

@media (max-width: 768px) {
  #yy-nav .navbar {
    margin-bottom: 10px;
  }
}

/*** aside navbar ***/

.aside.yy-navbar-aside {
  min-width: 130px !important;
  width: 130px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.aside.yy-navbar-aside:focus {
  outline: none;
}

.aside.yy-navbar-aside .aside-body {
  padding: 20px 5px;
}

.aside.yy-navbar-aside .nav > li > a {
  padding: 6px 10px;
  color: #000;
  cursor: pointer;
}

.animate-if.ng-enter {
  transition: 0.5s linear all;
}

.animate-if.ng-leave {
  transition: 0s linear all;
}

.animate-if.ng-enter {
  max-width: 0;
  opacity: 1;
}

.animate-if.ng-enter.ng-enter-active {
  max-width: 100%;
  opacity: 1;
}

.animate-if.ng-leave {
  max-width: 100%;
  opacity: 1;
}

.animate-if.ng-leave.ng-leave-active {
  max-width: 0;
  opacity: 1;
}
/*** top navbar ***/
.navbar.yy-navbar {
    background: #fff;
    padding-top: 15px;
    box-shadow: -10px 0 10px #ccc;
    color: #000;
    margin-bottom:30px;
}

.navbar.yy-navbar .navbar-header .navbar-brand {
    font-size: 20px;
}

.navbar.yy-navbar .nav-pills > li {
    margin-right: 10px;
    font-size: 18px;
    font-family: fantasy;
}

.navbar.yy-navbar .nav-pills > li > a {
    color: #000;
}

.navbar.yy-navbar .nav-pills > li > a:hover {
    color: #428bca;
    background-color: transparent;
}

.navbar.yy-navbar .nav-pills > li.active > a,
.navbar.yy-navbar .nav-pills > li.active > a:hover{
    /*font-weight: bold;*/
    color: #428bca;
    background-color: transparent;
}

.navbar .navbar-header .icon-bar {
    background-color: #808080;
}

@media (max-width: 768px) {
    #yy-nav .navbar {
        margin-bottom: 10px;
    }
}

/*** aside navbar ***/
.aside.yy-navbar-aside {
    min-width: 130px !important;
    width: 130px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.aside.yy-navbar-aside:focus {
    outline: none;
}

.aside.yy-navbar-aside .aside-body {
    padding: 20px 5px;
}

.aside.yy-navbar-aside .nav > li > a {
    padding: 6px 10px;
    color:#000;
    cursor: pointer;
}

.animate-if.ng-enter {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -ms-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.animate-if.ng-leave {
    -webkit-transition: 0s linear all;
    -moz-transition: 0s linear all;
    -ms-transition: 0s linear all;
    -o-transition: 0s linear all;
    transition: 0s linear all;
}

.animate-if.ng-enter {
    max-width: 0;
    opacity: 1;
}

.animate-if.ng-enter.ng-enter-active {
    max-width: 100%;
    opacity: 1;
}

.animate-if.ng-leave {
    max-width: 100%;
    opacity: 1;
}

.animate-if.ng-leave.ng-leave-active {
    max-width: 0;
    opacity: 1;
}
.icon-lang {
  width: 20px;
}

#about-me-container {
  width: 85%;
  max-width: 1000px;
}

/*** about-me.html page ***/

/* this is for jumbotron with no profile image,but with text) */

#about-me-container .jumbotron {
  background: url('../images/background/bg_santa-monica_1.jpg') no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 0 15px #CCC;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

#about-me-container .jumbotron .lead-profile-thumb {
  margin-top: -90px;
  margin-bottom: -15px;
}

#about-me-container .jumbotron .lead-profile-thumb img {
  width: 130px;
  height: 130px;
}

#about-me-container .jumbotron .lead-with-text {
  min-width: 260px;
  width: 45%;
  min-height: 180px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 55px 0 0 -20px;
  padding: 20px;
  text-align: left;
}

#about-me-container .jumbotron .sm-media-btn-group {
  position: absolute;
  bottom: 5px;
  right: 15px;
}

/* End this is for jumbotron with no profile image,but with text) */

#about-me-container .jumbotron .profile-img {
  width: 90%;
  max-width: 260px;
}

#about-me-container .btn.btn-sm-icon {
  padding: 0;
  margin: 5px;
  border: none;
}

#about-me-container .sm-icon-container {
  max-width: 350px;
  margin: auto;
}

#about-me-container .sm-icon {
  width: 35px;
  height: 35px;
}

#about-me-container .work-logo-thumb {
  max-width: 100px;
  border: none;
  padding: 10px;
}

.work-info-qtip a {
  color: #ffffff;
}

.work-info-qtip .qtip-content {
  padding: 10px 15px;
}

/*** END about-me.html page ***/

#about-me-container .yy-info-container {
  width: 100%;
  background: #fff;
  transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  box-shadow: 0 0 15px #CCC;
  border: 1px solid #d3d3d3;
  margin: 10px 0 30px;
  padding: 20px;
  position: relative;
}

#about-me-container .yy-info-container.previous-info {
  width: 100%;
  background: #fff;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  box-shadow: 0 0 15px #CCC;
  border: 1px solid #d3d3d3;
  margin: 10px 0 30px;
  padding: 20px;
  position: relative;
}

#about-me-container .yy-info-container:after {
  content: "";
  background: #fff;
  width: 99%;
  height: 99%;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 4px;
  transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  box-shadow: 0 0 20px #CCC;
  border: 1px solid #ddd;
}

#about-me-container .yy-info-container-title {
  margin-left: 20px;
}

#about-me-container .yy-info-sub-title {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  #about-me-container .yy-info-sub-title {
    text-align: right;
  }
}

#about-me-container .admin-login-btn {
  margin-left: 20px;
  cursor: pointer;
}

.icon-lang {
    width: 20px;
}

#about-me-container {
    width: 85%;
    max-width: 1000px;
}

/*** about-me.html page ***/
/* this is for jumbotron with no profile image,but with text) */
#about-me-container .jumbotron {
    background: url('../images/background/bg_santa-monica_1.jpg') no-repeat;
    background-size: cover;
    position: relative;
    -moz-box-shadow: 0 0 15px #DDD;
    -webkit-box-shadow: 0 0 15px #CCC;
    box-shadow: 0 0 15px #CCC;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

#about-me-container .jumbotron .lead-profile-thumb {
    margin-top: -90px;
    margin-bottom: -15px;
}

#about-me-container .jumbotron .lead-profile-thumb img {
    width: 130px;
    height: 130px;
}

#about-me-container .jumbotron .lead-with-text {
    min-width: 260px;
    width: 45%;
    min-height: 180px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 55px 0 0 -20px;
    padding: 20px;
    text-align: left;
}

#about-me-container .jumbotron .sm-media-btn-group {
    position: absolute;
    bottom: 5px;
    right: 15px;
}

/* End this is for jumbotron with no profile image,but with text) */

#about-me-container .jumbotron .profile-img {
    width: 90%;
    max-width: 260px;
}

#about-me-container .btn.btn-sm-icon {
    padding: 0;
    margin: 5px;
    border: none;
}

#about-me-container .sm-icon-container {
    max-width: 350px;
    margin: auto;
}

#about-me-container .sm-icon {
    width: 35px;
    height: 35px;
}

#about-me-container .work-logo-thumb {
    max-width: 100px;
    border: none;
    padding: 10px;
}

/*
.work-info-qtip{
    max-width: 250px;
    width: 2500px;
    height: auto;
}*/

.work-info-qtip a {
    color: #ffffff;
}

.work-info-qtip .qtip-content {
    padding: 10px 15px;
}

/*** END about-me.html page ***/
#about-me-container .yy-info-container {
    width: 100%;
    background: #fff;
    transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -moz-box-shadow: 0 0 15px #DDD;
    -webkit-box-shadow: 0 0 15px #CCC;
    box-shadow: 0 0 15px #CCC;
    border: 1px solid #d3d3d3;
    margin: 10px 0 30px;
    padding: 20px;
    position: relative;
}
#about-me-container .yy-info-container.previous-info {
    width: 100%;
    background: #fff;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-box-shadow: 0 0 15px #DDD;
    -webkit-box-shadow: 0 0 15px #CCC;
    box-shadow: 0 0 15px #CCC;
    border: 1px solid #d3d3d3;
    margin: 10px 0 30px;
    padding: 20px;
    position: relative;
}

#about-me-container .yy-info-container:after {
    content: "";
    background: #fff;
    width: 99%;
    height: 99%;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 4px;
    transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -moz-box-shadow: 0 0 20px #DDD;
    -webkit-box-shadow: 0 0 20px #CCC;
    box-shadow: 0 0 20px #CCC;
    border: 1px solid #ddd;
}

#about-me-container .yy-info-container-title {
    margin-left: 20px;
}
#about-me-container .yy-info-sub-title {
    text-align: left;
}
@media only screen and (min-width: 768px) {
    #about-me-container .yy-info-sub-title {
        text-align: right;
    }
}

#about-me-container .admin-login-btn {
    margin-left: 20px;
    cursor: pointer;
}
#portfolio-container {
  width: 90%;
  /*max-width: 800px;*/
  margin: 0 auto;
}

#portfolio-container .portfolio-widget-container {
  padding: 20px;
}

#portfolio-container .portfolio-panel {
  min-width: 262px;
}

#portfolio-container .portfolio-widget {
  height: 205px;
  min-width: 260px;
  overflow: hidden;
  background-size: 100% auto;
  text-align: center;
}

#portfolio-container .portfolio-widget .portfolio-widget-overlay {
  background-color: rgba(0, 0, 0, 0.10);
  padding-top: 60px;
  width: 100%;
  height: 100%;
}

#portfolio-container .portfolio-widget .portfolio-widget-overlay:hover {
  background-color: rgba(0, 0, 0, .6);
}

#portfolio-container .portfolio-widget .btn.portfolio-widget-overlay-btn {
  background-color: transparent;
  border: none;
  color: transparent;
  transition: all linear 0.25s;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  padding: 15px 25px;
}

#portfolio-container .portfolio-widget .portfolio-widget-overlay:hover .btn.portfolio-widget-overlay-btn {
  border: solid #fff 3px;
  color: #fff;
  padding: 15px 40px;
  font-size: 20px;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

#portfolio-container .portfolio-widget .portfolio-widget-overlay-touch-device {
  background-color: rgba(0, 0, 0, 0.50);
  padding-top: 60px;
  width: 100%;
  height: 100%;
}

#portfolio-container .portfolio-widget .portfolio-widget-overlay-touch-device .btn.portfolio-widget-overlay-btn {
  border: solid #fff 3px;
  color: #fff;
  padding: 15px 40px;
  font-size: 20px;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/**** for portfolio page modal****/

#portfolio-filePreviewModal .file-preview-modal.modal-dialog {
  width: 85%;
  min-width: 300px;
  max-width: 1000px;
}

#portfolio-filePreviewModal .file-preview-modal .modal-body {
  height: 70%;
  background-color: rgb(206, 206, 206);
}

#portfolio-filePreviewModal .file-preview-modal .modal-body iframe {
  border: none;
}

/**** for portfolio demo modal ****/

#portfolio-demoPreviewModal .demo-preview-modal.modal-dialog {
  width: 85%;
  min-width: 300px;
  max-width: 1000px;
}

#portfolio-demoPreviewModal .demo-preview-modal .modal-body {
  height: 500px;
}

/**** portfolio project modal ****/

#portfolio-projectPreviewModal .project-preview-modal.modal-dialog {
  width: 600px;
  height: 500px;
}

#portfolio-projectPreviewModal .project-preview-modal .modal-body {
  width: 600px;
  height: 500px;
}

#portfolio-projectPreviewModal .project-preview-modal .modal-body .iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

iframe.yy-video-dir-iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/**** portfolio.todo.tpl.html ****/

#portfolio-todo-panel .todo-tabset li.todo-tab:first-child {
  margin-left: 10px;
}

#portfolio-todo-panel .todo-list {
  list-style: none;
  padding: 0;
  height: 330px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#portfolio-todo-panel .todo-list.archived-list {
  height: 400px;
}

#portfolio-todo-panel .todo-list li {
  line-height: 40px;
  font-size: 20px;
}

#portfolio-todo-panel .todo-list .todo-checkbox {
  font-size: 40px;
  margin-right: 10px;
}

#portfolio-todo-panel .todo-list .strike-text {
  color: #d4d4d4;
}

#portfolio-todo-panel .todo-tab-content {
  padding: 20px;
}

@media (max-width: 340px) {
  #portfolio-container .portfolio-widget-container {
    padding: 10px;
  }

  #portfolio-demoPreviewModal .demo-preview-modal .modal-body {
    padding: 10px 0;
  }

  /**** for portfolio demo modal ****/

  #portfolio-demoPreviewModal .demo-preview-modal .modal-body {
    height: 300px;
  }

  #portfolio-todo-panel .todo-list {
    height: 130px;
  }

  #portfolio-todo-panel .todo-list li {
    line-height: 22px;
    font-size: 14px;
  }
}

#portfolio-container {
    width: 90%;
    /*max-width: 800px;*/
    margin: 0 auto;
}

#portfolio-container .portfolio-widget-container {
    padding: 20px;
}

#portfolio-container .portfolio-panel{
    min-width: 262px;
}
#portfolio-container .portfolio-widget {
    height: 205px;
    min-width: 260px;
    overflow: hidden;
    background-size: 100% auto;
    text-align: center;
}

#portfolio-container .portfolio-widget .portfolio-widget-overlay {
    background-color: rgba(0, 0, 0, 0.10);
    padding-top: 60px;
    width: 100%;
    height: 100%;
}
#portfolio-container .portfolio-widget .portfolio-widget-overlay:hover {
    background-color: rgba(0, 0, 0, .6);
}

#portfolio-container .portfolio-widget .btn.portfolio-widget-overlay-btn {
    background-color: transparent;
    border:none;
    color:transparent;
    -webkit-transition: all linear 0.25s;
    -moz-transition: all linear 0.25s;
    -ms-transition: all linear 0.25s;
    -o-transition: all linear 0.25s;
    transition: all linear 0.25s;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    padding: 15px 25px;
}

#portfolio-container .portfolio-widget .portfolio-widget-overlay:hover .btn.portfolio-widget-overlay-btn{
    border:solid #fff 3px;
    color:#fff;
    padding:15px 40px;
    font-size: 20px;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
#portfolio-container .portfolio-widget .portfolio-widget-overlay-touch-device {
    background-color: rgba(0, 0, 0, 0.50);
    padding-top: 60px;
    width: 100%;
    height: 100%;
}
#portfolio-container .portfolio-widget .portfolio-widget-overlay-touch-device .btn.portfolio-widget-overlay-btn{
    border:solid #fff 3px;
    color:#fff;
    padding:15px 40px;
    font-size: 20px;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}


/**** for portfolio page modal****/
#portfolio-filePreviewModal .file-preview-modal.modal-dialog {
    width: 85%;
    min-width: 300px;
    max-width: 1000px;
}

#portfolio-filePreviewModal .file-preview-modal .modal-body {
    height: 70%;
    background-color: rgb(206, 206, 206);
}

#portfolio-filePreviewModal .file-preview-modal .modal-body iframe {
    border: none;
}

/**** for portfolio demo modal ****/
#portfolio-demoPreviewModal .demo-preview-modal.modal-dialog {
    width: 85%;
    min-width: 300px;
    max-width: 1000px;
}

#portfolio-demoPreviewModal .demo-preview-modal .modal-body {
    height: 500px;
}

/**** portfolio project modal ****/

#portfolio-projectPreviewModal .project-preview-modal.modal-dialog {
    width: 600px;
    height: 500px;
}
#portfolio-projectPreviewModal .project-preview-modal .modal-body {
    width: 600px;
    height: 500px;
}

#portfolio-projectPreviewModal .project-preview-modal .modal-body .iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

iframe.yy-video-dir-iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/**** portfolio.todo.tpl.html ****/

#portfolio-todo-panel .todo-tabset li.todo-tab:first-child {
    margin-left: 10px;
}
#portfolio-todo-panel .todo-list {
    list-style: none;
    padding: 0;
    height: 330px;
    width:100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#portfolio-todo-panel .todo-list.archived-list {
    height: 400px;
}
#portfolio-todo-panel .todo-list li{
    line-height: 40px;
    font-size:  20px;
}
#portfolio-todo-panel .todo-list .todo-checkbox{
    font-size:  40px;
    margin-right: 10px;
}
#portfolio-todo-panel .todo-list .strike-text{
    color:#d4d4d4;
}
#portfolio-todo-panel .todo-tab-content{
    padding:20px;
}



@media (max-width: 340px) {
    #portfolio-container .portfolio-widget-container{
        padding:10px;
    }
    #portfolio-demoPreviewModal .demo-preview-modal .modal-body {
        padding:10px 0;
    }
    /**** for portfolio demo modal ****/
    #portfolio-demoPreviewModal .demo-preview-modal .modal-body {
        height: 300px;
    }
    #portfolio-todo-panel .todo-list {
        height: 130px;
    }
    #portfolio-todo-panel .todo-list li{
        line-height: 22px;
        font-size:  14px;
    }
}
@media (min-width: 768px) {

}

@media (max-width: 768px) {
  .modal-footer.footer-sm {
    padding: 10px 20px;
  }

  #about-me-container {
    width: 98%;
  }
}
@media (min-width: 768px) {

}

@media (max-width: 768px) {
    .modal-footer.footer-sm {
        padding: 10px 20px;
    }

    #about-me-container {
        width: 98%;
    }
}
#yy-login-modal {
  padding: 40px 30px 20px;
}
#yy-login-modal{
    padding:40px 30px 20px;
}
         h     (                                ������{�����������������������������������������������������������v�*$ � 
�?*�=0�#�9 �RQM�YVs�L@X�C<-�\mQ�<4�5#�BA ���c���y�G: �N9�gW�VG�D+
�aC�D6�H90�F4;�MI@�adA�K>�SO�W^-��Ǻ���y�QN �ZB�l]�=(�S4�Q;�)�MX5�82�81#�HP6�</
�K>�ZjI���������ln�iX	�WA�_[&�VW%�1"�4(�40!�CC'�=1�AGA�2$
�cnD�������������t&�ts2�f^(�rT�OG�5%�.$� �(�B1	�=6�]la�����������������x�Z�����ZZ:�H@�[N�4#�JLC�DFH��?(�F;�;8&������������������j�}zO�4�YT�NA �Y`T�����z���CEE�0 �I>"�'�fwq����������Ź���y�S>�A-�^O
�LD!�y�������x���i��5%�=/�,	�QI8�����������������SC*�A.�QC�r�������������������JJL�=1�* ���������������������npZ�U=�dV�kvj�������������ez��3!�<0�JD/�������������������������V;�eT�?& �XU5�|���y���E8�1�9)�����������������������������aJ�aK	�C' �m{b����9$�*�:)�C8$�����������������������������nc5�ZC	�S9 �irS�u�{�; �=(�IF�`^P�������������������������������~�K0�H6	�E8	�VP�PB�QM�IH#�������������������������������������������������������������������������������������                                                                