<div id="portfolio-aside-view-container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <!-- this is for affix menu on md device and above-->
            <!--<div id="portfolio-aside-affix" data-spy="affix" data-offset-top="180">-->
            <div class="portfolio-aside-menu affix-menu hidden-xs hidden-sm" data-spy="affix">
                <ul class="nav nav-stacked">
                    <!---------------------------------- PDF Section -------------------------------->
                    <li class="portfolio-aside-setion-title yy-text-default">Wireframe/Prototypes</li>
                    <li ng-repeat="wireframe in wireframeFiles" ng-click="setCurrentFile(wireframe)">
                        <a class="portfolio-aside-link"
                           ui-sref="mainNav.subNav.child({childId:'wireframe',templateId:wireframe.fileName})">{{wireframe.fileName}}</a>
                    </li>
                    <!---------------------------------- END PDF Section -------------------------------->
                    <!---------------------------------- Demo Section -------------------------------->
                    <li class="portfolio-aside-setion-title yy-text-default">Web Component Example</li>
                    <li ng-repeat="demo in webComponentDemos" ng-click="setCurrentDemo(demo)">
                        <a class="portfolio-aside-link"
                           ui-sref="mainNav.subNav.child({childId:'demo',templateId:demo.demoName})">{{demo.demoName}}</a>
                    </li>
                    <!---------------------------------- END Demo Section -------------------------------->
                </ul>
            </div>
            <div class="portfolio-aside-menu visible-xs visible-sm">
                <ul class="nav nav-stacked pull-left menu-block">
                    <!---------------------------------- PDF Section -------------------------------->
                    <li class="portfolio-aside-setion-title yy-text-default">Wireframe/Prototypes</li>
                    <li ng-repeat="wireframe in wireframeFiles" ng-click="setCurrentFile(wireframe)">
                        <a class="portfolio-aside-link"
                           ui-sref="mainNav.subNav.child({childId:'wireframe',templateId:wireframe.fileName})">{{wireframe.fileName}}</a>
                    </li>
                    <!---------------------------------- END PDF Section -------------------------------->
                </ul>
                <ul class="nav nav-stacked pull-left">
                    <!---------------------------------- Demo Section -------------------------------->
                    <li class="portfolio-aside-setion-title yy-text-default">Web Component Example</li>
                    <li ng-repeat="demo in webComponentDemos" ng-click="setCurrentDemo(demo)">
                        <a class="portfolio-aside-link"
                           ui-sref="mainNav.subNav.child({childId:'demo',templateId:demo.demoName})">{{demo.demoName}}</a>
                    </li>
                    <!---------------------------------- END Demo Section -------------------------------->
                </ul>
            </div>
            <style>

                #portfolio-aside-view-container .portfolio-aside-menu.affix {
                    top: 20px;
                }

                #portfolio-aside-view-container .portfolio-aside-menu .portfolio-aside-setion-title {
                    padding-top: 1em;
                    padding-bottom: 0.3em;
                    font-size: 1.8em;
                }

                #portfolio-aside-view-container .portfolio-aside-menu .portfolio-aside-setion-title:first-child {
                    padding-top: 0;
                }

                #portfolio-aside-view-container .portfolio-aside-menu .menu-block {
                    display: block;
                    margin-right: 50px;
                }
                #portfolio-aside-view-container .portfolio-aside-menu a.portfolio-aside-link {
                    padding: 0;
                    font-size: 1.3em;
                }


                .portfolio-aside-content-container {
                    width: 100%;
                    /*min-height:500px;*/
                }

                .portfolio-aside-content-container object {
                    background: #fff;
                }

                .portfolio-aside-content-container .portfolio-aside-preview-container {
                    width: 100%;
                    height: 100%;
                }
            </style>
            <script>
                $('.portfolio-aside-menu.affix-menu').affix({
                    offset: {
                        top: 200
                    }
                })
            </script>
        </div>
        <div class="col-xs-12 col-md-9">
            <div class="ui-view"></div>
        </div>

    </div>
</div>
