<div id="portfolio-d3-panel" ng-controller="PortfolioD3Ctrl">

    <h4> Choose which dataset to view: </h4>

    <div style="margin-top: 20px;">
        <button href="" class="btn portfolio-d3-option-btn"
                ng-class="{'btn-success':activeSeletedIndex === $index,'btn-transparent':activeSeletedIndex !== $index}"
                ng-repeat="dataSource in dataSource"
                ng-click="fetchData(dataSource.url);setActiveSelectedIndex($index)">{{dataSource.label}}
        </button>
    </div>

    <div class="panel panel-default portfolio-d3-panel row">

        <div class="panel-heading">
            <h5 ng-bind="d3BarChartDataSet.name"></h5>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-sm-8">

                <div yy-d3-bar-chart data="d3BarChartDataSet.data" yy-on-click="returnSelectedItem(item)"></div>
            </div>


            <div class="col-xs-12 col-sm-4">
                <p>Click on each bar to see details:</p>
                <pre>{{currentSelectedItem|json}}</pre>
            </div>
        </div>
    </div>

    <div class="panel panel-default portfolio-d3-panel row">

        <div class="panel-heading">
            <h5 ng-bind="d3LineChartDataSet.name"></h5>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-sm-8">

                <div yy-d3-column-chart data="d3LineChartDataSet.data" yy-on-click="returnSelectedItem(item)"></div>
            </div>


            <div class="col-xs-12 col-sm-4">
                <p>Click on each bar to see details:</p>
                <pre>{{currentSelectedItem|json}}</pre>
            </div>
        </div>
    </div>


</div>