<div id="portfolio-modal-view-container">

    <!---------------------------------- PDF Section -------------------------------->
    <h4 class="yy-text-default">Wireframe/Mockup</h4>
    <hr class="title-separator-bold"/>
    <div class="row portfolio-widget-container-row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-9 portfolio-widget-container"
             ng-repeat="wireframe in wireframeFiles">
            <div class="panel yy-panel-box-dark portfolio-panel">
                <div class="panel-heading">
                    <div class="panel-title">{{wireframe.fileName}}</div>
                </div>
                <div class="panel-body no-padding">
                    <div class="portfolio-widget "
                         ng-style="{'background-image':'url({{wireframe.fileThumbPath}})'}">
                        <div ng-if="!isTouchDevice" class="portfolio-widget-overlay"><!--
                            <div class="btn btn-default portfolio-widget-overlay-btn" data-toggle="modal"
                                 data-target="#portfolio-filePreviewModal" ng-click="setCurrentFile(wireframe)">
                                View
                            </div>-->
                            <a class="btn btn-default portfolio-widget-overlay-btn" href='{{wireframe.filePath}}'
                               target="_blank">
                                View
                            </a>
                        </div>
                        <div ng-if="isTouchDevice" class="portfolio-widget-overlay-touch-device">
                            <!-- <div class="btn btn-default portfolio-widget-overlay-btn" data-toggle="modal"
                                  data-target="#portfolio-filePreviewModal" ng-click="setCurrentFile(wireframe)">
                                 View
                             </div>-->
                            <a class="btn btn-default portfolio-widget-overlay-btn" href='{{wireframe.filePath}}'
                               target="_blank">
                                View
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- PDF Modal -->
    <div class="modal fade" id="portfolio-filePreviewModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog file-preview-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{currentFile.fileName}}</h4>
                </div>
                <div class="modal-body">
                    <!--<iframe ng-src="{{currentFile.filePath}}" scrolling="auto" height="65%" width="100%"></iframe>-->
                    <div class="yy-responsive-wrapper" ng-if="currentFile.fileType==='pdf'">
                        <object data="{{currentFile.filePath}}" type="application/pdf"
                                width="100%" height="65%">

                            <p>PDF plugin is not supported by your browser, here is a link to the pdf
                                file:
                                <a href="{{currentFile.filePath}}">to the PDF!</a>
                            </p>
                        </object>
                    </div>
                    <div ng-if="currentFile.fileType==='video'" yy-video-dir
                         data-video-src="currentFile.filePath"></div>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-default" data-dismiss="modal">Close</div>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------- END PDF Section -------------------------------->


    <!---------------------------------- Demo Section -------------------------------->
    <h4 class="yy-text-default">Web Component Example</h4>
    <hr class="title-separator-bold"/>
    <div class="row portfolio-widget-container-row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-9 portfolio-widget-container"
             ng-repeat="demo in webComponentDemos">
            <div class="panel yy-panel-box-dark portfolio-panel">
                <div class="panel-heading">
                    <div class="panel-title">{{demo.demoName}}</div>
                </div>
                <div class="panel-body no-padding">
                    <div ng-if="!isTouchDevice" class="portfolio-widget"
                         ng-style="{'background-image':'url({{demo.demoThumbPath}})'}">
                        <div class="portfolio-widget-overlay">
                            <div class="btn btn-default portfolio-widget-overlay-btn" data-toggle="modal"
                                 data-target="#portfolio-demoPreviewModal" ng-click="setCurrentDemo(demo)">
                                View
                            </div>
                        </div>
                    </div>
                    <div ng-if="isTouchDevice" class="portfolio-widget-overlay-touch-device"
                         ng-style="{'background-image':'url({{demo.demoThumbPath}})'}">
                        <div class="portfolio-widget-overlay">
                            <div class="btn btn-default portfolio-widget-overlay-btn" data-toggle="modal"
                                 data-target="#portfolio-demoPreviewModal" ng-click="setCurrentDemo(demo)">
                                View
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Demo Modal -->
    <div class="modal fade" id="portfolio-demoPreviewModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog demo-preview-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{currentDemo.demoName}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-include="currentDemo.demoPath" class="modal-body-inner"></div>
                </div>
                <div class="modal-footer footer-sm">
                    <div class="btn btn-default" data-dismiss="modal">Close</div>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------- END Demo Section -------------------------------->

</div>