<div ng-controller="PersonalCtrl" class="personal-container">
    <h4 class="yy-text-default">Places I've Been To</h4>
    <hr class="title-separator-bold"/>
    <iframe frameborder=0 style='width:100%;height:380px' src='//www.zeemaps.com/pub?group=1095557'></iframe>

    <h4 class="yy-text-default">My Remembering Moments
        <button ng-if="true" class="btn btn-default pull-right" ng-click="openImgUploadModal()">Upload Images
        </button>
    </h4>
    <hr class="title-separator-bold"/>
    <div data-yy-masonry-dir>
        <div class="masonry-item col-xs-12 col-sm-6 col-md-4 col-lg-4" data-ng-repeat="image in imageList"
             style="margin-bottom:10px;" ng-animate="{enter: 'animate-enter'}" data-toggle="modal"
             data-target="#imageModal" ng-click="setCurrentImage(image)">
            <img ng-src="{{image.src}}" alt="{{image.title}}" class="masonry-image"/>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog image-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{currentImage.title}}</h4>
                </div>
                <div class="modal-body">

                    <img ng-src="{{currentImage.src}}" alt="{{currentImage.title}}" class="modal-image"/>

                </div>
            </div>
        </div>
    </div>

</div>